.text-input-wrapper {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.text-input-wrapper input {
    height: 30px;
    border: none;
    border-bottom: 1px solid #ccc;
    width: 20rem;
    outline: none;
    align-items: center;
}

.text-input-wrapper p {
    margin: 0;
    padding: 0;
    font-size: 16px;
    color: rgb(135, 135, 135);
}